header {
    background-image:linear-gradient(rgba(25, 27, 27, 0.5), rgba(70, 11, 79, 0.5)),url("v627-aew-42-technologybackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.letra-color{
    background:linear-gradient(to left, rgb(237, 89, 89),#d77de1, #96d8ee);-webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
}

.icono-gigante{
    font-size: 5rem;
    /* Arriba - Derecha - Abajo - Izquierda */
    padding:5px 10px;
}

.img-proyecto{
    width:100%;
}

.icono-contacto{
    font-size:4rem;
    color:black;
    margin: 4px 8px;
}

#contacto{
    min-height:80vh;
}