header {
    background-image:linear-gradient(rgba(25, 27, 27, 0.5), rgba(70, 11, 79, 0.5)),url("v627-aew-42-technologybackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
}