header {
    background-image:linear-gradient(rgba(25, 27, 27, 0.5), rgba(70, 11, 79, 0.5)),url("v627-aew-42-technologybackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.letra-color{
    background:linear-gradient(to left, rgb(237, 89, 89),#d77de1, #96d8ee);-webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
}